*{
		margin:0px;
		padding:0px;
	}
	body{
		font-family:verdana;
		width:100%;
		display:-webkit-box;
		-webkit-box-pack:center;
		background-color:#ffebcd;
	}
	#body{
		max-width:2000px;
		margin:20px 0px;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-flex:1;
	}
	h5{
		margin-top:12px;
	}
	label{
		float:left;
		width:150px;
		height:20px;
		text-align:right;
		padding-right:12px;
		margin-top:12px;
		clear:left;
	}
	input{
		margin-top:12px;
		height:20px;
	} 
	textarea{
		margin-top:12px;
	}
	#simpleForm{
		background-color:#ccc;
		width:60%;
		margin-left:20%;
		margin-top:5%;
        border: outset;
	}
	#continue{
		margin-left:150px;
        margin-bottom:30px;
		padding:15px;
	}
	#radioButtons{
		padding:15px;
	}